<?php
//認証情報４つ
$consumerKey = "AUTH KEY HERE";
$consumerSecret = "AUTH KEY HERE";
$accessToken = "AUTH KEY HERE";
$accessTokenSecret = "AUTH KEY HERE";

$loginMessage = "百合子さんが $IPADDR($COUNTRY) から ConoHa にsshログインしました♪";
$uptimeMessage = "サーバのUptime:$UPTIME(自動投稿)";
$rootMessage = "百合子さんがrootに権限昇格しました♪ (自動投稿)";
?>
